@model MinesweeperASP.NET.Models.Board
@using MinesweeperASP.NET.Controllers;

<style>
    .game-button {
        width: 85px;
    }

    .game-button-image {
        width: 70px;
    }

    .button-zone {
        display: flex;
        flex-wrap: wrap;
    }

    .line-break {
        flex-basis: 100%;
        height: 0;
    }

    .button-label {
        font-size: 8px;
        text-align: center;
    }
</style>

@{
    //store image names in an array for more efficient code.
    string[] counterCells = { "EmptyCell.png", "1Cell.png", "2Cell.png", "3Cell.png", "4Cell.png", "5Cell.png", "6Cell.png", "7Cell.png", "8Cell.png" };
    string[] imageNames = { "UnopenedCell.png", "BombCell.png", "FlaggedCell.png" };}
<p>Current time: @DateTime.Now</p>
<form>
    <div class="button-zone">
        @for (int i = 0; i < Model.Size; i++)
        {

            @for (int j = 0; j < Model.Size; j++)
            {
                if (j % Model.Size == 0)
                {
                    <div class="line-break"></div>
                    }

                <div class="oneButton" id="@i-@j">
                    <button class="game-button" type="submit" value="@i-@j" name="cellNumber" asp-controller="Grid" asp-action="HandleLeftClick">
                        @if (Model.thisGame[i, j].isVisited && Model.thisGame[i, j].isLive == true)
                        {

                            <img class="game-button-image" src="~/img/@imageNames[1]" />
                            <div class="button-label">
                                @Model.thisGame[i, j].rowNumber
                                ,
                                @Model.thisGame[i, j].colNumber
                            </div>

                        }
                        else if (Model.thisGame[i, j].isFlagged == true)
                        {


                            <img class="game-button-image" src="~/img/@imageNames[2]" />
                            <div class="button-label">
                                @Model.thisGame[i, j].rowNumber
                                ,
                                @Model.thisGame[i, j].colNumber
                            </div>

                        }

                        else if (Model.thisGame[i, j].isVisited == false)
                        {

                            <img class="game-button-image" src="~/img/@imageNames[0]" />
                            <div class="button-label">
                                @Model.thisGame[i, j].rowNumber
                                ,
                                @Model.thisGame[i, j].colNumber
                            </div>

                        }
                        else if (Model.thisGame[i, j].isVisited && Model.thisGame[i, j].isLive == false)
                        {


                            <img class="game-button-image" src="~/img/@counterCells[Model.thisGame[i,j].liveNeighbors]" />
                            <div class="button-label">
                                @Model.thisGame[i, j].rowNumber
                                ,
                                @Model.thisGame[i, j].colNumber
                            </div>

                        }




                    </button>
                </div>




            }


        }



    </div>

</form>
<div>
    <a asp-controller="Home" asp-action="Index">Back To Home</a>
</div>

